@import '../base/_lists.scss';
@import '../base/_extends.scss';
@import '../base/_mixin.scss';



/*inicio estilos de contacto*/

.contact-container {
    @extend %center;
    align-items: center;
    .contacto {
        width: 70%;
        margin-top: nth($margin-top, 3 );
        padding: 20px;
        display: grid;
        grid-template-columns: 12% 30% 16% 30% 12%;
        grid-template-rows: 80px 180px 350px 510px;
        grid-template-areas:
        ". titulo titulo titulo ."
        ". parrafo1 . parrafo2 ."
        ". mapa mapa mapa ."
        ". formulario formulario formulario . ";
        @include colors (#fbedd5, black);
    
        @media screen and (max-width:680px) {
        width: 100%;
        grid-template-rows: 50px 200px 100px 350px 510px;
        grid-template-areas:
        ". titulo titulo titulo ."
        ". parrafo1 parrafo1 parrafo1 ."
        ". parrafo2 parrafo2 parrafo2 ."
        ". mapa mapa mapa ."
        ". formulario formulario formulario .";
        }
        .contact-title {
            grid-area: titulo;
        }
        .h1-tutto {
            color: map-get($h1, font-color );
            font-family: map-get($h1, font-family );
            font-weight: map-get($h1, font-weight );
            padding: map-get($h1, padding );
            text-align: map-get($h1, text-align );
            
        }
        .adress-container {
            grid-area: parrafo1;
            justify-self: self-start;
        }
        .hours-container {
            grid-area: parrafo2;
            justify-self: self-end;
            @media screen and (max-width:680px) {
                justify-self: self-start;
            }
        }
        .mapa {
            grid-area: mapa;
            justify-self: center;
        }
        .formulario {
            grid-area: formulario;
            display: flex;
            align-items: center;
            justify-self: center;
        }

    }
}
.h4-contact {
    display: flex;
    justify-content: flex-start;
    font-family: 'Old Standard TT', serif;
}
.contact-p {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    @extend %center;

}

/*inicio de estilos del formulario*/
form {
    background-color: $form-background;
    border: 1px solid #ccc;
    width: 90%;
    max-width: 500px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: 0 auto;
    @media screen and (max-width:450px) {
        padding: 3.5em 1em;
    }

}
.formtutto_container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;

}
.formtutto_title {
    font-family: 'Satisfy', cursive;
    color: nth($font-color, 1 );
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .4em;
    @media screen and (max-width:450px){
        font-size: 2rem;
    }
}
.form_input {
    font-family: inherit;
    font-size: 1rem;   
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: .2em;
    @media screen and (max-width:450px) {
        font-size: .8rem;
    }
}
.form_input_msg {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form_cta {
    font-family: inherit;
    font-size: 1rem;
    background-color: nth($font-color, 5 );
    color: nth($font-color, 3 );
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 500;
    @media screen and (max-width:450px) {
        font-size: .8rem;
    }
}
/*fin de estilos del formulario*/
