/*Reseteo de estilos predeterminados*/
*{
    margin: 0;
    padding: 0;
}
li {
   list-style-type: none; 
}
a {
    text-decoration: none
}
/*fin de reseteo de estilos predeterminados*/

body {
    background-color: #fcf7ef;
    font-family: 'Poppins', sans-serif;
}
img {max-width: 100%;}

.disclaimer {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Poppins:wght@300;400;500;600&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */
// @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* font-family: 'Bree Serif', serif; */

/*font para encabezados en cursiva*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/*font-family: 'Satisfy', cursive;*/

/*font para encabezados*/
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
/*font-family: 'Old Standard TT', serif;*/