@import '../base/_variables.scss';
@import '../base/_lists.scss';
@import '../base/_extends.scss';
@import '../base/_mixin.scss';
@import '_general';

/*inicio de estilo carrousel*/
.margin-carr {
  margin-top: nth($margin-top, 2 );
  
}
/*fin de estilo carrousel*/

/*inicio de estilo seccion productos*/
.margin-sectmain { 
  margin-top: nth($margin-top, 1 );
  div {
    div { 
      .h1-tutto {
        color: map-get($h1, font-color );
        font-family: map-get($h1, font-family );
        font-weight: map-get($h1, font-weight );
        padding: map-get($h1, padding );
        text-align: map-get($h1, text-align );
        
      }
      .h2-tutto {
        color: map-get($h2, font-color );
        font-family: map-get($h2, font-family );
        font-weight: map-get($h2, font-weight );
        padding: map-get($h2, padding );
        text-align: map-get($h2, text-align );
      }
      .h3-tutto{
        color: map-get($h3, font-color );
        font-family: map-get($h3, font-family );
        font-weight: map-get($h3, font-weight );
        padding: map-get($h3, padding );
        text-align: map-get($h3, text-align );
        @media screen and (min-width:981px) {
          font-size: xxx-large;
        }
      }

    }
    .cont-parrafo {
      border-radius: 30px;
      @include colors (#fbedd5, black);
      .parrafo-producto{
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-weight: bold;
        padding: 20px;
        font-size: 20px;
        text-align: center;

      }

    }

  } 

  .prod-col { 
    @media screen and (min-width:981px) {
      @include colors (#fbedd5, 0);
      border-radius: 40px;
      margin-top: nth($margin-top, 1 );
    }

    @media screen and (max-width:480px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .cont { 
      position: relative;
      margin: 10px 0 10px 0;
      &:hover .img {
        opacity: 0.3;
      }
      &:hover .text-pos {
        opacity: 1;
      }
      a {
        .i-products {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
        }
      
        .pro-cir{
          @media screen and (min-width:981px) {
            border-radius: 100%;
          }
        }
        .text-pos {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        

          .pro-titles {
            font-size: $imagen-description;
            color: nth($font-color, 1);
            font-family: 'Bree Serif', serif;
            display: flex;
            justify-content: center;
            margin: 5px;
          }
          .texts-back {
            background-color: #982c3b;
            color: nth($font-color, 1);
            font-size: $imagen-description;
            padding: 16px 32px;
          }
        }
      
      }
      @media screen and (max-width:480px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }

    }
  }
}
/*fin de estilo seccion productos*/