@import '../base/_lists.scss';
@import '../base/_extends.scss';
@import '../base/_maps.scss';

/*inicio de estilo para las pages*/

.margin-titles-pg {
    margin-top: nth($margin-top, 3);
    @extend %center;
    @extend %responsive;
     .h1-tutto {
        color: map-get($h1, font-color );
        font-family: map-get($h1, font-family );
        font-weight: map-get($h1, font-weight );
        padding: map-get($h1, padding );
        text-align: map-get($h1, text-align );
        
    }
}

.sect-margin  {
    margin-top: nth($margin-top, 1);
}