

$footer: (
    bg-footer: #982c3b,
    font-color: nth($font-color, 2),
    border-header: 2px solid #252932,
);

$h1: (
    font-color: nth($font-color, 4),
    font-family: $font-h1,
    font-weight: 500,
    padding: 0.5rem 1rem,
    text-align: center,
);

$h2: (
    font-color: nth($font-color, 4),
    font-family: $font-h1,
    font-weight: bold,
    padding: 1.5rem 1rem,
    text-align: center,
);
$h3: (
    font-color: nth($font-color, 4),
    font-family: $font-h3,
    font-weight: 500,
    padding: 3.5rem 1rem 2rem,
    text-align: center,
    hight: 50px
);
